@model List<DIANS_2.Models.Winery>

@{
    ViewBag.Title = "Contact";
}
<link href='https://fonts.googleapis.com/css?family=Tenor Sans' rel='stylesheet'>
<h2>Листа на сите винарии</h2>
<style>
    body {
        background-color: #EDDFB6;
        font-family:'Tenor Sans';
    }
</style>

<form action="@Url.Action("WineryListCity", "Vinarii")" method="post">
    <label for="city">Внеси град:</label>
    <input type="text" name="city" id="city" />
    <button type="submit">Пребарaj</button>
</form>

<table>
    <tr>
        <th>Винерија</th>
        <th>Град</th>
        <th>Адреса</th>
        <th>Рајтинг</th>
        <th>Акции</th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var winery in Model)
        {
            <tr>
                <td>@winery.Name</td>
                <td>@winery.City</td>
                <td>@winery.Address</td>
                <td>@winery.Rating</td>

                <td>
                    <a href="@Url.Action("Edit", "Vinarii", new { id = winery.Name })">Edit</a> |
                    <a href="@Url.Action("Remove", "Vinarii", new { id = winery.Name })">Remove</a>
                    <a href="@Url.Action("Rate", "Vinarii", new { id = winery.Name })">Rate</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5">No wineries available for the entered city</td>
        </tr>
    }
</table>
